/* company-list.component.css */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-image: url(../../../assets/bg.jpg);
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }

  .spacer {
    flex: 0.9;
    background-image: url(../../../assets/bg.jpg);
  }
  
  .container{
    background-image: url(../../../assets/bg.jpg);
  }